<h3>Dog</h3>
<p>The dog or domestic dog (Canis familiaris)[4] is a domesticated descendant of the grey wolf. It has many notable
    characteristics, the most prominent of which is the upturning tail. The dog derived from an ancient, extinct
    wolf.[5][6] Today, the modern grey wolf is the dog's nearest living relative.[7] Experts assert that the dog was the
    first species to be domesticated.[8][7] It is believed that domestication took place over 15,000 years ago and was
    performed by hunter–gatherers[6] before the development of agriculture.[1]</p>